# Build output
/dist/

# Dependencies
/node_modules/

# Environment variables
/env.ts


# Directories
node_modules/
dist/
coverage/

# Files
.env
.DS_Store
*.log

# Dependency lock files
package-lock.json
yarn.lock
